* {
    box-sizing: border-box 
 }

.dashboard-isi {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor:default;
    flex-direction: column;
    align-items: center;
}

.dashboard-board {
    background-color:rgb(227, 227, 227);
    width: 70%;
    height: 660px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.dashboard-nav {
    width: 230px;
    background-color: rgb(201, 35, 35);
    height: 60px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    border-radius: 30px;
    font-size: 18px;
    position: relative;
    z-index: 3;
    margin-bottom: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-kiri {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-kiri p  {
    padding: 0px;
    margin: 0px;
}

.nav-kanan {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-board{
    display: flex;
    flex-wrap: wrap;

}

.board-top {
    width: 100%;
    height: 50%;
    padding-top: 50px;
    padding-left: 25px;
    display: flex;
}

.board-bottom {
    height: 50%;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 20px;
    display: flex;
}

.map {
    width: 42%;
    background-color: white;
    height: 124%;
    margin-top: -70px;
    border-radius: 15px;
    margin-right: 20px;
}

#map {
    padding-top: 15px;
    margin: auto;
}

.map p {
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 18px;
}

.jvm-tooltip {
    position: absolute;
    z-index: 9999;
    border-radius: 15px;
    background-color: rgb(201, 35, 35);
    font-family: sans-serif, Verdana;
    font-size: smaller;
    box-shadow: 1px 2px 12px #0003;
    padding: 0px 5px;
    white-space: nowrap;
    display: none;
    color: #fff;
}

.jvm-tooltip.active {
    display: block;
}

.reg {
    background-color: white;
    width: 20%;
    height: 65%;
    border-radius: 15px;
    margin-right: 20px;
}

.reg p {
    margin: 0px;
    padding-left: 30px;
    font-family: Montserrat;
    font-size: 17px;
    margin-top: 5px;
}

.reg img {
    margin-top: 25px;
    margin-left: 30px;
    width: 12%;
}

#reg-number {
    font-size: 35px;
    margin-top: 15px;
}

.institution {
    background-color: white;
    width: 20%;
    height: 65%;
    border-radius: 15px;
    margin-right: 20px;
}

.institution img {
    margin-top: 25px;
    margin-left: 30px;
    width: 13%;
}

.institution p {
    margin: 0px;
    padding-left: 30px;
    font-family: Montserrat;
    font-size: 18px;
    margin-top: 5px;
}

.pie {
    background-color: white;
    width: 26%;
    height: 96%;
    border-radius: 15px;
    margin-right: 20px;
}

#piechart {
    margin: auto;
    margin-top: 5px;
}

.pie p {
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 18px;
}

.bar {
    background-color: white;
    width: 54%;
    height: 96%;
    border-radius: 15px;
    margin-top: 15px;
}

.bar p {
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 18px;
}

#barchart {
    margin: auto;
}

.tujuan {
    background-color: white;
    width: 26%;
    height: 96%;
    border-radius: 15px;
    margin-right: 20px;
}

.tujuan p {
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 18px;
}

.list-tujuan {
    width: 100%;
    height: 70%;
    overflow-y: none;
    padding: 20px;

}

.tujuan ul {
    padding: 0;
    margin: 0;
}

.purpose-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
    padding-left: 25px;
}


.purpose-item::before {
    content: '';
    position: absolute;
    left: 5px; 
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c92323; 
}

.purpose-name, .purpose-count {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.purpose-name {
    flex: 1;
}

.purpose-count {
    margin-left: 10px;
}

.tujuan li {
    list-style: none;
}