.isi {
    background-color: rgba(243, 243, 243, 0.849);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor:default;
}

.board {
    background-color: white;
    width: 75%;
    height: 620px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.top {
    padding-top: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.top h1 {
    width: 50%;
    font-family: Montserrat;
    padding-left: 50px;

}

.top p {
    width: 50%;
    padding-right: 50px;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.705);
    font-family: Montserrat;
    text-align: justify;
    font-size: 13px;
}

.line {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.bottom {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: rgb(201, 35, 35);
    width: 400px;
    height: 367px;
    text-align: justify;
    color: white;
}

.card1 {
    color: white;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.card2 {
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}

.card img {
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.card h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 30px;
    color: white;
    margin: 10px 20px 0px 20px;
    font-family: "Playfair Display";
    font-weight: normal;
}

.card p {
    color: rgba(255, 255, 255, 0.863);
    margin: 15px 27px 0px 20px;
    font-size: 13px;
    font-family: "Playfair Display";
}

.button-bawah {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-bawah a {
    text-decoration: none;
}

.button {
    width: 100px;
    background-color: white;
    border-radius: 20px;
}

.button p {
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
}

.daftar {
    width: 150px;
}