.outbound-isi {
    background-color: rgba(243, 243, 243, 0.849);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor:default;
}

.outbound-board {
    background-color: white;
    width: 60%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outbound-top {
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 3px;
    display: flex;
}

.outbound-top h1 {
    border-bottom: 1px solid black;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}

.form {
    margin-top: 40px;
}

.form1-outbound {
    background-color: rgb(227, 227, 227);
    padding: 10px 0px 0px 0px;
    width: 680px;
    height: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.form1-outbound input {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
}

.form1-outbound p {
    font-size: 18px;
    padding: 0px 30px;
    margin: 5px 0px 0px 0px;
}

.form2-outbound {
    background-color: rgb(227, 227, 227);
    padding: 10px 0px 0px 0px;
    margin-top: 30px;
    width: 680px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.form2-outbound input {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
    
}

.form2-outbound p {
    font-size: 18px;
    padding: 0px 30px;
    margin: 5px 0px 0px 0px;
}

.form2-outbound select {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
}

.form3-outbound {
    background-color: rgb(227, 227, 227);
    padding: 10px 0px 0px 0px;
    margin-top: 30px;
    width: 680px;
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.form3-outbound input {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
}

.form3-outbound p {
    font-size: 18px;
    padding: 0px 30px;
    margin: 10px 0px 0px 0px;
}

.form4-outbound {
    background-color: rgb(227, 227, 227);
    padding: 10px 0px 0px 0px;
    margin-top: 30px;
    width: 680px;
    height: 530px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.form4-outbound input {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
}

.form4-outbound p {
    font-size: 18px;
    padding: 0px 30px;
    margin: 10px 0px 0px 0px;
}

.form4-outbound select {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
}

.date {
    display: flex;
   margin: 0px 30px;
}

.date_arrival {
    width: 50%;
}

.date_departure {
    width: 50%;
}

.date_departure p {
    padding: 0px;
    font-size: 18px;
}

.date_departure input {
    width: 90%;
    margin: 0px;
    margin-top: 5px;
    font-size: 17px;
}

.date_arrival input {
    width: 90%;
    margin: 0px;
    margin-top: 5px;
    font-size: 17px;
}

.date_arrival p {
    padding: 0px;
    font-size: 18px;
}

.addfile {
    width: 35%;
}

.form5-outbound {
    background-color: rgb(227, 227, 227);
    padding: 10px 0px 0px 0px;
    width: 680px;
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.form5-outbound input {
    margin: 5px 30px;
    padding: 10px 5px;
    font-size: 17px;
}

.form5-outbound p {
    font-size: 18px;
    padding: 0px 30px;
    margin: 10px 0px 0px 0px;
}

.mitra-luar {
    font-size: 21px;
    margin: 30px 0px 10px 0px;
}

.inbound-button {
    margin-top: 10px;
    width: 30%;
    display: flex;
    color: white;
}

.inbound-button p {
    background-color: rgb(201, 35, 35);
    margin-right: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 19px;
    text-decoration: none;
}

.outbound-button a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white
}
